.App-header {
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
  display: block;
}

.title {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.select {
  display: flex;
  float: right;
  margin-bottom: 10px;
  margin-right: 70px
}

.selectText {
  font-size: 14px;
  margin: 0px;
}

.dropdown {
  height: 20px;
  margin-left: 5px;
}

.Item {
  text-align: center;
  width: 24%;
  border: solid 1px transparent;
  /*transition: border-color 0.2s ease-out;*/
}

.Item:hover {
  border-color: #ECECEC;
  transition: border-color 0.2s ease-out;
}

.button {
  background-color: black;
  color: white;
  border: none;
  padding: 15px 60px;
  margin-bottom: 10px;
}

.imagePackage {
  position: relative;
}

.shipping {
  font-size: 10px;
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: black;
  color: white;
  padding: 5px;
}

.Image {
  width: 200px;
  height: auto;
}

.itemName {
  font-size: 14px;
}

.price::before {
  content: "$";
}

.price {
  font-size: 18px;
}

.Products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-top: 70px;
}
